:root {
    background-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(22, 22, 22);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.0rem;
    margin-bottom: 1rem;
} 

/*the container used for every page*/
.container {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 100px auto;
}

/*essentially the header*/
.top-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 5px;
    width: 100%;
    padding: 0 10px;
}

/*the view high score button*/
#vhs {
    display: flex;
    text-decoration: none;
    color: rgb(80, 60, 104);
    font-size: 1.1rem;
}

/*the countdown timer*/
#timer {
    display: flex;
    font-size: 1.1rem;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-one-text {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
}

/*the questions and answers for the quiz*/
.game-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/*correct or incorrect pop-up*/
#results {
    font-size: 2.5rem;
    text-align: start;
    color: grey;
    text-decoration: underline;
}

.final-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.final-text {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.choice-container {
    display: flex;
    font-size: 1.1rem;
    background-color: rgb(80, 60, 104);
    border: none;
    border-radius: 4px;
    color: white;
    margin-bottom: .3rem;
    padding: .1rem .2rem;
    text-decoration: none;
    opacity: 1;
    transition: 0.5s;
}

.btn {
    display: flex;
    font-size: 1.1rem;
    background-color: rgb(80, 60, 104);
    text-align: center;
    border: none;
    border-radius: 4px;
    color: white;
    margin-bottom: 1rem;
    text-decoration: none;
    opacity: 1;
    transition: 0.5s;
}

/*modifications to button*/
.choice-container:hover {
    cursor: pointer;
    background-color: rgb(80, 60, 104);
    opacity: 0.6;

}

/*modifications to button*/
.btn:hover {
    cursor: pointer;
    background-color: rgb(80, 60, 104);
    opacity: 0.6;
}

/*score prompt*/
.final-score{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 5px;
}

.submission {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/*button that takes you to high score page*/
#btn-final {
    padding: 0 5px;
}

/*text box*/
input[type="text"] {
    height: 1.3rem;
    align-items: center;
    margin: 0 5px;
}

.high-score {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/*pop up score list*/
#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;

}

#score-list {
    background-color: rgb(185, 179, 179);
    background-size: 1.1rem;
    font-size: 1.1rem;
    padding: 2px 0;
    width: 100%;
    border-radius: 4px;
    color: black;
}

.home-clear {
   padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/* home button */
#try-again {
    margin-right: 4px;
    height: 24px;
}

/* clear button */
#clear-scores {
    margin-left: 4px;
    height: 24px;
}